{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add an entry.
{% endblock %}

{% block body %}

    <form action="{% url 'addentry' %}" method='post' name='newentryform'>
    	{% csrf_token %}
        <label for="title">Title : </label><br>
    	<input type="text" id="title" name="title"><br>
        <label for="content">Enter content in md : </label><br>
        <textarea style="height: auto"  name="content" id="content" rows="15" cols="5"></textarea>
        <br>
        <input type="submit" value="Save Page"></a></submit>
    </form>
    


{% endblock %}